.App {
  text-align: center;
}

.error-message {
    color: #FF0000;
    font-size:small;
}

.invalid {
    border-left-width: 10px;
    border-left-color: red;
}

.container {
    display: flex
}

.the-form {
    width: 50%;
    min-width: 200px;
}

.person-view-container {
    margin: 20px;
}